#!/usr/bin/env bash
set -euo pipefail

{{- $systemPackages := list }}
{{- range $category := .categories }}
{{- $systemPackages = concat $systemPackages $category }}
{{- end }}
{{- $systemPackages = $systemPackages | uniq }}

flathub() {
echo -e "\n---Installing Flatpaks---"
flatpak install -y flathub {{ .flatpak_packages | uniq | join " " }}
}

case "{{ .chezmoi.osRelease.id }}" in
  arch)
    echo "---Detected Arch---"
    sudo pacman -S --noconfirm {{ $systemPackages | join " " }}
    flathub
    ;;

  fedora)
    echo "---Detected Fedora---"
    sudo dnf install -y {{ $systemPackages | join " " }}
    flathub
    ;;

  *)
    echo "Unknown Linux distribution: $ID"
    exit 1
    ;;
esac
